body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	padding: 20px;
}
h1 {
	font-size: 16px;
	margin-top: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	margin-bottom: 10px;
	clear: both;
}
label {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	margin-bottom: 3px;
	clear: both;
}
td {
	font-size: 14px;
	text-transform: inherit;
	display: block;
	margin-bottom: 3px;
	clear: both;
}
